body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

img {
    display: block;
    margin: 20px auto;
    width: 400px;
    height: auto;
    max-width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    
}

img.fade-in {
    opacity: 1;
}
